#regs-box {
    position: absolute;
    padding: 20px 35px 50px 35px;
	margin:opx auto;
	color: #ebebeb;
	font: 12px "Times New Roman", Times, serif;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 20px #555;
    background-color: rgb(120, 87, 87);;
    width: 420px;
    top: 20%;
}	



